@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size:16px;
}

.header-nav a {
  color: #f2f2f2;
}

#eyecatch {
  height: 1600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-style:italic;
  font-weight: bold;
  color: #ccc;
  line-height:1;
}
dl {
  text-align: end;
}
dt{
  border-bottom:1px solid #ccc;
  padding:10px 5px;
}
dd{
  border-bottom:1px solid #ccc;
  margin-right:100px;
  padding:10px 5px;
}
a{
   position: absolute;
  top: 37%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color:black;
  color: #fff;
  margin: 0 20px;
  padding:5px 15px;
  text-decoration: none;
}

#about　{
  height: 600px;
  /* margin: 0 auto 50px; */
  background-color: black;
}

#about .section-title {
  height: 600px;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  background-color: black;
  color: white
}

.about-wrap{
  display: flex;
  align-items: center;
}

.photo1 {
  position: absolute;
  padding: 20px;
  right: 50px;
  top:1500px;
}


.about-right h2,
.about-center p {
  margin-bottom: 1px;
  background: black;
  color: white
}


