@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

#top-wrapper {
  height: 400px;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container h1 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-style:italic;
  font-weight: bold;
  color: #ccc;
  line-height:1;
  opacity: 0.7;
}

.news-wrapper {
  position: absolute; 
  top: 75%; left:50%;right: 0; bottom: 18%;
  background: white;
  font-size: 12px;
}

.news-wrapper a {
  position: absolute; 
  top: 1%; left:80%;right: 0%; bottom: 0%;
  text-align: center;
  background-color:black;
  color: white;
  text-decoration: none;
  display:inline-block;
  padding: 13px 24px;
}
.about　{
  width: 3px;
  display: inline-block;
  /* margin: -100px -100px 500px 0; */
  background-color: black;
}

.about-center {
  font-size: 13px;
  padding: 20px 100px 100px 100px;
  margin-top: -10px;
  color: white;
  background-color: black;
}
.about-right img {
  position: absolute;
  position: relative;
  left:300px;
  top: 50px;
  width: 50%;

}
.about-center h2,
.about-center p {
 position: absolute;
 position: relative;
}
.about-center h2 {
  font-size: 16px;
  top: 60px;
}

.about-center p {
  top: 90px;
}
.about-center a {
  font-size: 13px;
  /* margin: 50px 70px -30px  -900px; */
  margin-top: -50px;
  padding: 13px 2px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  display: block;
  position: absolute;
  position: relative;
}




